@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --mainGreen: rgba(120, 209, 51, 0.7);
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainRed: rgba(192, 44, 3, 0.7);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --mainBorderRadius: 0.3125rem;
  --widthChange: clamp(15rem, 55vw, 24rem);
  --fs-body: clamp(.75rem, 4vw, 1rem);
  --fs-default: clamp(.75rem, 4vw, 1.2rem);
  --ff-main: "Roboto Mono", monospace;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  color: var(--mainBlack);
  line-height: 1.4;
  font-size: var(--fs-body);
  font-weight: 300;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(./images/book.jpg);
}

h1 {
  padding: 1rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  background: var(--primaryLightColor);
  display: inline-block;
}

.btn:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}

.options button,
.btn {
  width: var(--widthChange);
  padding: .75rem 0.45rem;
  border: none;
  border-radius: var(--mainBorderRadius);
  font-size: var(--fs-default);
  cursor: pointer;
  transition: var(--mainTransition);
  font-family: inherit;
}

.end-btn {
  margin-top: 1.5rem;
}

.end-btn:focus {
  transform: translateX(1rem);
}

/* Main */

.container {
  width: 88vw;
  max-width: 640px;
  margin: 1rem auto;
  align-items: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: 536px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(20px);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.app {
  text-align: center;
}

.menu,
.quiz,
.endscreen {
  color: var(--mainWhite);
}

.quiz h2 {
  text-align: center;
}

.title {
  padding: .75rem 1.5rem;
  border: 1px solid var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  margin-bottom: 1rem;
}

.title h2 {
  margin: 0;
}

.category {
  margin-top: 1rem;
}

.category select {
  width: var(--widthChange);
  border: none;
  height: 2rem;
  border-radius: var(--mainBorderRadius);
  font-family: inherit;
  padding: 0 .25rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: .75rem
}

.incorrect {
  background-color: var(--mainRed);
  color: var(--mainBlack);
  animation: scaling .75s forwards;
}

.correct {
  background-color: var(--mainGreen);
  color: var(--mainBlack);
  animation: scaling .75s forwards;
}

.endscreen svg {
  height: 2rem;
  width: 2rem;
}

@keyframes scaling {
  from {
    scale: 1.1;
  }

  to {
    scale: 1;
  }
}